.selectionbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    padding: 25px 0px;
} 

.select-car{
    width: 40%;
    display: flex;
}

.select-car-name{
    flex: 1;
    font-size: 16px;
    padding-bottom: 5px;
    color: #adacac;
    border-bottom: 3px solid #adacac;

    display: flex;
    align-items: flex-end;
    transition: 0.5s;
}

.select-car-name:hover{
    color: #80bfff;
    border-bottom: 3px solid #80bfff;
}

.bodytype{
    padding-top: 5px;
    color: #adacac;
}

.selected-car-name{
    flex: 1;
    font-size: 20px;
    color: white;
    border-bottom: 3px solid white;

    display: flex;
    align-items: flex-end;
    transition: 0.5s;
}

.selected-car{
    height: 700px;
    background-color: black;
}

.car-entery-box{
    position: absolute;
    top: 680px;
    right: 32%;
    height: 50px;
    padding: 2px;
    background-color: white;

    display: flex;
    align-items: center;
}

.car-input-box{
    height: 48px;
    width: 600px;
    border: none;
    padding-left: 10px;
    font-size: 16px;
}

.car-search-button{
    height: 48px;
    width: 100px;
    background-color: #790E22;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.featured-cars{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.fatured-cars-heading, .featured-cars-selectionbar, .featured-cars-body{
    width: 90%;
    background-color: white;   
    padding: 0px 30px; 
}

.fatured-cars-heading{
    font-size: 28px;
    padding: 60px 30px 40px 30px;
}

.fatured-cars-heading > p {
    font-weight: 400;
}

.fatured-cars-heading > p > span{
    font-weight: 800;
}

.featured-cars-selectionbar{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.featured-cars-selectitems{
    display: flex;
    background-color: #F5F5F5;
    padding: 5px;
    font-size: 16px;
}

.featured-cars-selectitem{
    padding: 12px 30px;
    color: rgba(0, 0, 0, 0.5);;
}

.featured-cars-selecteditem{
    background-color: black;
    color: white;   
}

.featured-cars-viewall{
    display: flex;
    align-items: center;
}

.viewall-button{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: 0.4s;
}

.viewall-button:hover {
    font-weight: 800;
    text-shadow: 1px 1px 2px #790E22;
}

.featured-cars-body{
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}